:root {
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
  }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease;
  }


  .containerSplit {
    display: flex;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease;
  }
  

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/onesize1.png);
  }
  
  .split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
  }
  
  .split.right {
    right: 0;
    top:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/onesize2.png);
  }
  
  .split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
  }
  
  .split.right,
  .split.left,
  .split.right::before,
  .split.left::before {
    transition: all var(--speed) ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }

  h1{
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 96.667% */
    letter-spacing: -3.6px;
  }

  h2 {

    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }
  
  h3{
    color: #000;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 96.667% */
  letter-spacing: -3.6px;
  }

  h4{
    color: #ffffff;
  font-family: Inter;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 96.667% */
  letter-spacing: -3.6px;
  position: absolute;
  }
  
  .body-container {
    margin: 5px;
  }
  
  .bodyImg {
    background-color: white;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin:  50px 15px 0px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    cursor: pointer;
    float: left;
    width: 280px;
    height: 572px;
    flex-shrink: 0;
  }
  
  .bodyImg.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sizeImage{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 260px;
    height: 347px;
    object-fit: contain;
  }
  
  .sizeImage img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }
  
  .text-title {
    margin: 0 20px 0 0;
  }
  
  .size-text {
    display: none;
    margin: 0px 10px 0px 45px;
    align-items: center;
  
  }
  
  .text-title{
    display: none;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height:30px;
    margin: 40px 20px 5px 40px;
  }
  
  .bodyImg.active .size-text {
    display: block;
  }
  
  .bodyImg.active .text-title {
    display: block;
  }

  .introduction-container{
    width: 30%;
    height: 600px;
    float: left;
    margin: 50px 20px 10px 25px;
    background-color: #ffffff;

  }

  .brand{
    position: relative;
    margin: 10px auto;
  }

  .brand-title{
    width: 200px;
  }
  .brand-title p{
    color: #000;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.4px;
  }

 
  .brand img{
    max-width: 100%;
  }

  .introduction{
    width: 396px;
    height: 390px;
    flex-shrink: 0;
    margin: 0 auto;
  }

  .brand-text{
    width: 370px;
    height: 200px;
    color: #000;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 100% */
    margin: 0 auto;
    padding: 10px;
    background-color: #d9dee2;
    border-radius: 5px;
  }



  * {
    box-sizing: border-box;
  }
  

  
  .testimonial-container {
    background-color: #476ce4;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
  }
  
  .fa-quote {
    color: rgba(255, 255, 255, 0.506);
    font-size: 28px;
    position: absolute;
    top: 70px;
  }
  
  .fa-quote-right {
    right: 40px;
  }
  
  .fa-quote-left {
    left: 40px;
  }
  
  .testimonial {
    line-height: 28px;
    text-align: justify;
  }
  
  .reviewtitle {
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0px;
  }
  
  .progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
  }
  
  @keyframes grow {
    0% {
      transform: scaleX(0);
    }
  }
  
  @media (max-width: 768px) {
    .testimonial-container {
      padding: 20px 30px;
    }
  
    .fa-quote {
      display: none;
    }
  }