.body{
  background-color: bisque;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quizSection{
  background-color: white;
  width:90%;
  max-width: 600px;
  margin:100px auto 0;
  border-radius: 20px;
  padding:10px;
}

.quizSection h1{
  border-bottom: 1px solid #333;
}
.h6{
  font-weight: 250px;
  color: black;
  font-weight:600;
  padding-bottom: 20px;
}

.quiz{
  padding: 40px 0;
}

.answer{

  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  padding:15px;
  margin:10px;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: all 100ms;
}

.answer:hover{
  color: #ffffff;
  background: #222;
}


#nextButton{
  background:pink;
  color:#ffffff;
  font-weight: 500;
  width:200;
  padding: 10px;
  margin:10px auto 0;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

#info{
  font-size: 15px;
  max-width: 100%;
  padding: 10px;
  margin:10px auto 0;
  display: block;
}

.correct{
  background: green;
}

.wrong{
  background: red;
}